link(rel='apple-touch-icon', sizes='180x180', href=siteURL+'/apple-touch-icon.png')
link(rel='icon', type='image/png', href=siteURL+'/favicon-32x32.png', sizes='32x32')
link(rel='icon', type='image/png', href=siteURL+'/favicon-194x194.png', sizes='194x194')
link(rel='icon', type='image/png', href=siteURL+'/android-chrome-192x192.png', sizes='192x192')
link(rel='icon', type='image/png', href=siteURL+'/favicon-16x16.png', sizes='16x16')
link(rel='manifest', href=siteURL+'/manifest.json')
link(rel='mask-icon', href=siteURL+'/safari-pinned-tab.svg', color='#c54286')
meta(name='msapplication-TileColor', content='#c54286')
meta(name='msapplication-TileImage', content=siteURL+'/mstile-144x144.png')
meta(name='theme-color', content='#c54286')
